$Gray_30: #f2f6ff;
$Cod_gray: #121212;
$Geyser: #ced6dd;
$Gray_100: #1c242b;
$Gray_80: #56626f;
$Blue_ribbon: #2f5af4;
$Blue_chill: #0fa2ab;
$Gray_70: #8e9aa7;
$Oxford_blue: #35424f;
$White: #ffffff;
$French_pass: #bce8ff;
